.app-container {
  display: flex;
}

.main-content {
  margin-left: 260px;
  padding-top: 70px;   
  width: 100%;
  min-height: 100vh;
  background-color: #f4f9ff;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}


.sidebar{
  width:260px;
  flex-shrink:0;
}

